@charset "UTF-8";
@import "reset.css";

/* CSS Document */

/*
	----------------------------
	HTML SELECTORS
	____________________________
*/

body { font:14px/21px 'Roboto', sans-serif; color: #333; margin: 0; padding: 0; font-weight: 300; }

.img1 {  background: -webkit-radial-gradient(ellipse at bottom, #1c2837 0%, #050608 100%);
  background: radial-gradient(ellipse at bottom, #1c2837 0%, #050608 100%);
  background-attachment: fixed;
  overflow: hidden;}
.img2 { background: #000 url(../media/back.jpeg) 100% 100% no-repeat; background-size: cover;}
.img3 { background: #000 url(../media/back3.jpeg) 100% 100% no-repeat; background-size: cover;}
.img4 { background: #000 url(../media/back4.jpeg) 100% 100% no-repeat; background-size: cover;}
.img5 { background: #000 url(../media/back5.jpeg) 100% 100% no-repeat; background-size: cover;}

h1, h2 , .stored, label, .small{font-family: 'Roboto', sans-serif; font-weight: 300;}
a { color: #ccc; text-decoration: underline; }
a:hover { color: #fb2b2b; }
h1, h2 { font-size: 40px; line-height: 42px; letter-spacing: -1px; color: #fff; }
h3 { font-size: 18px; font-weight: normal; margin: 8px 0; }
h4 { font-size: 14px; font-weight: normal; margin: 0; }
h5 { font-size: 12px; font-weight: normal; margin: 0; }
ul { margin-left: 20px; }
ol { margin-left: 36px; }

/*
	----------------------------
	LAYOUT & UI
	____________________________
*/


#wrapper { width: 100%; margin: 0 auto; padding: 0; max-width: 1600px; z-index: 1; position: relative; }
#main { width: 90%; z-index: 8; margin: 0 auto; }

#footer { 
	position: fixed; z-index: 5; width: 100%; max-width: 1600px; clear: both; bottom: 10px; margin-top: 300px;
}

#footer label {
	display:block;
	margin-top:9px;
}

#chat {
	color: #fff;
	display: block;
	width: 250px;
	height: 80px;
	padding: 10px;
	font-size: 11px;
	position: absolute;
	top: 120px;
	left: 20px;
	clear: both;
}

#ui {
	z-index: 11000; padding: 5px 20px 12px 20px; margin: 20px; border:1px solid #29ABE2; background: url(../media/black-85-trans.png); clear: both;
	-webkit-backface-visibility: visible;
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: perspective(700px) rotateX(-10deg);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#ui label, #ui input {
	font-size: 30px;
}

#ui input {
	width: 10%;
	min-width: 70px;
}

/*
	----------------------------
	SHIPS
	____________________________
*/

#mothership, #enemy {
	position: relative;
}

#mothership {
	float: left;
	width: 52%;
	margin-left:2%;
}

#enemy {
	float: right;
	width: 40%;
	margin-right:4%;
	margin-top: 3%;
}

#enemy #localStorage {
	font-size: 30px;
	color: #fff;
	text-align: right;
}

#enemy #localStorage input {
	font-size: 30px;
	width: 25%;
	max-width: 60px;
}

#field {
	width: 100%;
	min-width: 200px;

}

#shipname {
	border: none;
	border-bottom: 1px solid #333;
	background: none;
	color: #fff;
	font-size: 30px;
	width: 200px!important;
	outline:none;
	text-transform: uppercase;
	margin-right: 30px;
}

#shipname:focus {
	border-bottom: 1px solid #fff; outline:none; color:#ccc;
}

#ui .sh {
	color: #29ABE2;
}

#ui .fm {
	color: #F7931E;
}

#fame {
	
}

.draggable {
	cursor: pointer;
}

.dragging {
  z-index: 100;
  position: absolute;
  cursor: move;
}

.cell {
	-webkit-filter: blur(1px);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	text-align: center;
	vertical-align: top;
	
	position: absolute;
	width: 60px;
	height: 60px;
	
	z-index: 10;
	border-radius: 100%;

	-webkit-box-shadow: 0px 0px 35px rgba(0,0,40,0.9);
    -moz-box-shadow: 0px 0px 35px rgba(0,0,40,0.9);
    box-shadow: 0px 0px 35px rgba(0,0,40,0.9);	
}

.damaged {
	background: rgba(250,100,100,0.6);
}

.hideship {
	opacity: 0.7;
}

#mothership .cell {
	border:1px solid #29ABE2;
}

#mothership .cell:hover {
	border:1px solid #29ABE2;
	background: #29ABE2;
	 -webkit-filter: blur(0px);
}

#mothership .active {
	 -webkit-filter: blur(0px);
	background: #29ABE2 url(../media/sh.png) no-repeat center center;
}

#enemy .cell {
	border:1px solid red;
}

#enemy .cell:hover {
	border:1px solid red;
	background: red;
	 -webkit-filter: blur(0px);
}

#enemy .active {
	 -webkit-filter: blur(0px);
	background: red url(../media/atc.png) no-repeat center center;
}

.nonEmpty{
    border-color: #29ABE2;
    -webkit-filter: blur(0px);
    -webkit-box-shadow: 0px 0px 35px rgba(120,130,230,0.9);
    -moz-box-shadow: 0px 0px 35px rgba(120,130,230,0.9);
    box-shadow: 0px 0px 35px rgba(120,130,230,0.9);
}

#mothership .c1 {
	top: 15%;
	left: 60%;
}

#mothership .c2 {
	top: 22%;
	left: 28%;
}

#mothership .c3 {
	top: 56%;
	left: 22%;
}

#mothership .c4 {
	top: 45%;
	left: 54%;
}

#enemy .c1 {
	top: 25%;
	left: 60%;
}

#enemy .c2 {
	top: 15%;
	left: 28%;
}

#enemy .c3 {
	top: 52%;
	left: 30%;
}

#enemy .c4 {
	top: 60%;
	left: 70%;
}

.shield {
	z-index: 11;
	width: 40px;
    height: 40px;
}

.zi14 {
	z-index: 14000;
}

.stored {
	background: transparent;
	color: #fff;
	border: none;
}

/*
	----------------------------
	UTILITY CLASSES
	____________________________
*/

.black-15 { background: url(../media/black-15-trans.png); color: #fff;}
.black-35 { background: url(../media/black-35-trans.png); color: #fff;}
.black-50 { background: url(../media/black-50-trans.png); color: #fff;}
.black-65 { background: url(../media/black-65-trans.png); color: #fff;}
.black-85 { background: url(../media/black-85-trans.png); color: #fff;}

.p2m12 {
	padding: 4px 12px; margin: 24px 0;
	border-radius: 4px;
}

.small {
	padding: 5px 12px;
	margin-bottom: 0px;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
	----------------------------
	GAME
	____________________________
*/

.play {
	font-size: 30px;
	display: block;
	margin: 25px 20px 15px 20px;
	color: #29ABE2;
	padding: 10px 15px 12px 15px;
	border: 1px solid #29ABE2;
	text-decoration: none;
	-webkit-filter: blur(1px);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	text-align: center;
	
	-webkit-backface-visibility: visible;
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: perspective(700px) rotateX(10deg);
	
	display: none;
}

.play:hover {
	-webkit-filter: blur(0px);
	-webkit-box-shadow: 0px 0px 15px rgba(41,170,226,0.8);
	-moz-box-shadow: 0px 0px 15px rgba(41,170,226,0.8);
	box-shadow: 0px 0px 15px rgba(41,170,226,0.8);
	background: url(../media/black-85-trans.png);
}

#HideButton {
	font-size: 30px;
	display: block;
	margin: 25px 20px 15px 20px;
	color: #29ABE2;
	padding: 10px 15px 12px 15px;
	border: 1px solid #29ABE2;
	text-decoration: none;
	-webkit-filter: blur(1px);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	text-align: center;
	
	-webkit-backface-visibility: visible;
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: perspective(700px) rotateX(10deg);
}

#HideButton:hover {
	-webkit-filter: blur(0px);
	-webkit-box-shadow: 0px 0px 15px rgba(41,170,226,0.8);
	-moz-box-shadow: 0px 0px 15px rgba(41,170,226,0.8);
	box-shadow: 0px 0px 15px rgba(41,170,226,0.8);
	background: url(../media/black-85-trans.png);
}

.tap {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 25px;
	left: 25px;
	background-color: #29ABE2;
	z-index: 15000;
	border-radius: 100%;  
	-webkit-animation: scaleout 1.0s infinite ease-in-out;
	animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

#newship {
	width: 100%;
	height: 100%;
	opacity: 0.9;
	background: #000000;
	color: #29ABE2;
	position: fixed;
	top: 0;
	z-index: 1000;
	text-align: center;
    display: none;
}

#gameover {
	width: 100%;
	height: 100%;
	opacity: 0.9;
	background: #000000;
	color: red;
	position: fixed;
	top: 0;
	z-index: 1000;
	text-align: center;
    display: none;
}

#newturn {
	width: 100%;
	height: 100%;
	opacity: 0.9;
	background: #000000;
	color: green;
	position: fixed;
	top: 0;
	z-index: 1000;
	text-align: center;
    display: none;
}

#gameover div, #newturn div, #newship div {
    position: relative;
    top:40%;
    left: -1%;
    font:28px 'Roboto', sans-serif;
    opacity: 1;
}

/* Back */

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(../media/stars.png) repeat top center;
  z-index:-1;
}

.twinkling{
  background:transparent url(../media/twinkling.png) repeat top center;
  z-index:0;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

